.emptySpaces {
  margin: 0px;
  padding: 0px;
}
.fourSideBorder {
  border: 1px solid #cecece;
}
.topBottomSideBorder {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.leftRightSideBorder {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.bottomRightSideBorder {
  border-bottom: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.topBorder {
  border-top: 1px solid #cecece;
}
.bottomBorder {
  border-bottom: 1px solid #cecece;
}
.rightBorder {
  border-right: 1px solid #cecece;
}
.leftBorder {
  border-left: 1px solid #cecece;
}
.ganttChart {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  display: block;
}
.ganttContainer {
  margin: 0px;
  padding: 0px;
  overflow: visible;
  position: relative;
  white-space: nowrap;
}
.ganttContainer .ganttHeader {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-top: 1px solid #cecece;
  width: 100%;
  height: 100px;
  display: block;
}
.ganttContainer .ganttBody {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.ganttContainer .ganttBody .ganttSchedules {
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  position: absolute;
  float: left;
  top: 101px;
  height: 600px;
  width: 300px;
  overflow-x: scroll;
}
.ganttContainer .ganttBody .ganttSchedules .spiliter {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 3px;
  float: right;
  cursor: col-resize;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  background-color: #ededed;
}
.ganttContainer .ganttBody .ganttTasks {
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  position: absolute;
  float: right;
  right: -1px;
  top: 101px;
  height: 600px;
  left: 300px;
  overflow-x: scroll;
  display: inline-block;
}